{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delicious Eats - Restaurant</title>
    <link rel="stylesheet" href="{% static 'css/new.css' %}">
</head>
<body>
<header class="header">
            <div class="container">
                <div class="header_wrapper">
                    <div class="header_navbar">
                        <div class="nav">

                            <img src="{% static 'img/navbar_burger.svg' %}" class="user_pic" onclick="toggleMenu1()">
                            <div class="sub_menu_wrap" id="subMenu1">
                                <div class="sub_menu">
                                    <div class="user_info">
                                        <img class="close_icon" src="{% static 'img/close_icon.svg' %}">
                                        <img src="{% static 'img/homemade.svg' %}">
                                    </div>
                                    <hr>
                                    <a href="#" class="sub_menu_link">
                                        <img src="{% static 'img/profile_icon.svg' %}">
                                        <p>Profile</p>
                                        <span>></span>
                                    </a>
                                    <a href="#" class="sub_menu_link">
                                        <img class="ch_icon" src="{% static 'img/chef_icon.svg' %}">
                                        <p>Our Chefs</p>
                                        <span>></span>
                                    </a>
                                    <a href="#" class="sub_menu_link">
                                        <img src="{% static 'img/menu_icon.svg' %}">
                                        <p>Our Menu</p>
                                        <span>></span>
                                    </a>
                                    <a href="#" class="sub_menu_link">
                                        <img src="{% static 'img/orders_icon.svg' %}">
                                        <p>My Orders</p>
                                        <span>></span>
                                    </a>
                                    <a href="#" class="sub_menu_link">
                                        <img src="{% static 'img/message_icon.svg' %}">
                                        <p>Messages</p>
                                        <span>></span>
                                    </a>
                                    <a href="#" class="sub_menu_link">
                                        <img src="{% static 'img/like_icon.svg' %}">
                                        <p>Following</p>
                                        <span>></span>
                                    </a>
                                    <a href="#" class="sub_menu_link">
                                        <img src="{% static 'img/help_icon.svg' %}">
                                        <p>Help Center</p>
                                        <span>></span>
                                    </a>
                                    <a href="#" class="sub_menu_link">
                                        <img src="{% static 'img/become_chef_icon.svg' %}">
                                        <p>Become a chef</p>
                                        <span>></span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        {% if jurgen %}
                            <form id="myForm" method="post" action="/menu/">
                                {% csrf_token %}
                                <input type="hidden" value="{{jurgen.id}}" name="jur">
                                <input type="submit" style="display: none;">
                            </form>
                            <a href="#" class="logo" id="submitButton">
                                <img src="{% static 'img/homemade.svg' %}">
                            </a>
                        {% else %}
                            <a href="/menu/" class="logo">
                                <img src="{% static 'img/homemade.svg' %}">
                            </a>
                        {% endif %}
                    </div>

                    <div class="search_location">
                        <div class="location_icon_con">
                            <img src="{% static 'img/find.svg' %}">
                        </div>

                        <input class="input_location" type="search" placeholder="Search foods and chefs">

                    </div>

                    <div>
                        <a class="login_button" href="/login/">
                            <div>
                                Log in
                            </div>
                        </a>
                        <a class="signup_button" href="/signupcustomer/">
                            <div>
                                Sign up
                            </div>
                        </a>
                    </div>



                </div>
            </div>
        </header>

<div class="div1">
  <img
    loading="lazy"
    srcset="{% static 'img/bg-main.png'%}"
    class="img1"
  />
  <div class="div-22">Short on time but craving home-cooked food?</div>
  <div class="div-33">
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/92e3d4992990e71dedb114268de12c9d311286c788ffb740b259b97aa305ad2e?"
      class="img-22"
    />
    <div class="div-44">Enter delivery address</div>
  </div>
  <div class="div-55">
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/9794291af192fa4d6db57c58433af414e58edc2763c1887b56ebeb1e9a787d75?"
      class="img-33"
    />
    <div class="div-66">Share location with us</div>
  </div>
</div>

<div class="di">
  <div class="di-2">
    <div class="di-3">Why HomeMade?</div>
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/51a01225c4b408a1c46624883d43f5bf2c82227f9a12b17a689c87fbf5fe629f?"
      class="im"
    />
    <div class="di-4">
      <div class="di-5">
        <div class="column">
          <div class="di-6">
            <img
              loading="lazy"
              srcset="{% static 'img/bg food1.png'%}"
              class="im-2"
            />
            <div class="di-7">Taste the comfort of home</div>
            <div class="di-8">
              Experience the warmth and nostalgia of homemade meals.
            </div>
          </div>
        </div>
        <div class="column-2">
          <div class="di-9">
            <img
              loading="lazy"
              srcset="{% static 'img/bg food2.png'%}"
              class="im-3"
            />
            <div class="di-10">Support local cooks</div>
            <div class="di-11">
              Empower local chefs and homemakers by enjoying their delicious
              creations.
            </div>
          </div>
        </div>
        <div class="column-3">
          <div class="di-12">
            <img
              loading="lazy"
              srcset="{% static 'img/bg food3.png'%}"
              class="im-4"
            />
            <div class="di-13">Earn money with HomeMade</div>
            <div class="di-14">
              Chefs can earn money by sharing their culinary talents with the
              community.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dv">
  <div class="dv-2">
    <div class="dv-3">Most loved food</div>
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/0de6357dc4a2c09e192fb8054b93e0503572032750fbccee7b754fc529ae4d82?"
      class="ig"
    />
  </div>
  <div class="dv-4">
    <div class="dv-5">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/b7b7697dd9953588ace2d0cbe6f8c629f5e6bbfe81a99139092bd1f58902f1e8?"
        class="ig-2"
      />
    </div>
    <div class="dv-6">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/6cd877dacfa91c4a5c20582a57420c1f9b366b4f3805a39514754e3c027112cb?"
        class="ig-3"
      />
    </div>
  </div>
</div>

<div class="prod">
  <div class="prod-2">
    <div class="col">
      <div class="prod-3">
        <img
          loading="lazy"
          srcset="{% static 'img/bg loved1.jpeg' %}"
          class="ipro"
        />
        <div class="prod-4">
          <div class="prod-5">
            <div class="prod-6">
              <div class="prod-7">Title of the meal</div>
              <div class="prod-8">by FirstName LastName</div>
            </div>
            <div class="prod-9">
              15 km
              <br />
              near you
            </div>
          </div>
          <div class="prod-10">
            <div class="prod-11">900 тг</div>
            <div class="prod-12">
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/1fba2f94d9aee2c92bfba0e776cb02f9e1ef54103b902692c0b86aae6743678e?"
                class="ipro-2"
              />
              <div class="prod-13">4.9</div>
            </div>
            <div class="prod-14">
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/0ebf8bf1b883fd66cfe9bcee8d1ebbd136d9b1429bd5e1a89274cc0d99d4669c?"
                class="ipro-3"
              />
              <div class="prod-15">Not available this week</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="prod-16">
        <img
          loading="lazy"
          srcset="{% static 'img/bg loved1.jpeg' %}"
          class="ipro"
        />
        <div class="prod-17">
          <div class="prod-18">
            <div class="prod-19">
              <div class="prod-20">Title of the meal</div>
              <div class="prod-21">by FirstName LastName</div>
            </div>
            <div class="prod-22">
              15 km
              <br />
              near you
            </div>
          </div>
          <div class="prod-23">
            <div class="prod-24">900 тг</div>
            <div class="prod-25">
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/dbf6992be01e1a80f1cd9745fe17032400fb4692da204f392f91ddff7f84b826?"
                class="ipro-4"
              />
              <div class="prod-26">4.9</div>
            </div>
            <div class="prod-27">
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/0ebf8bf1b883fd66cfe9bcee8d1ebbd136d9b1429bd5e1a89274cc0d99d4669c?"
                class="ipro-5"
              />
              <div class="prod-28">
                Available on
                <span style="color: rgba(253, 143, 44, 1)">Mn,Tw,Wd</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="prod-29">
        <img
          loading="lazy"
          srcset="{% static 'img/bg loved1.jpeg' %}"
          class="ipro"
        />
        <div class="prod-30">
          <div class="prod-31">
            <div class="prod-32">
              <div class="prod-33">Title of the meal</div>
              <div class="prod-34">by FirstName LastName</div>
            </div>
            <div class="prod-35">
              15 km
              <br />
              near you
            </div>
          </div>
          <div class="prod-36">
            <div class="prod-37">900 тг</div>
            <div class="prod-38">
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/d7e92b4c63c27022cab440b032d4aa8aa9a1c21a2d1f95311e00e4d62e9663e5?"
                class="ipro-6"
              />
              <div class="prod-39">4.9</div>
            </div>
            <div class="prod-40">
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/0ebf8bf1b883fd66cfe9bcee8d1ebbd136d9b1429bd5e1a89274cc0d99d4669c?"
                class="ipro-7"
              />
              <div class="prod-41">Not available this week</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d">
  <div class="d-2">
    <img
      loading="lazy"
      srcset="{% static 'img/bg chefs.png' %}"
      class="i"
    />
    <div class="d-3">Meet the chefs</div>
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/75a1b2698634d71b057bdee0c2dbb43d986270e1fdf768a6224bcebc1333b614?"
      class="i-2"
    />
    <div class="d-4">
      Local talented cooks that offer delicious meals made with fresh
      ingredients that you can feel good about eating.
    </div>
  </div>
</div>

<div class="rev">
  <img
    loading="lazy"
    srcset="{% static 'img/bg main2.jpeg' %}"
    class="irev"
  />
  <div class="rev-2">What our customer says</div>

  <div class="rev-3">
    <div class="rev-4">
      <div class="colrev">
        <div class="rev-5">
          <div class="rev-6">
            HomeEat has been a game-changer for me. I can now share my passion
            for cooking with others and earn money from it. It's a win-win!
          </div>
          <div class="rev-7">
            <img
              loading="lazy"
              srcset="{% static 'img/bg customer.png' %}"
              class="irev-3"
            />
            <div class="rev-8">Isabella Chavez</div>
          </div>
        </div>
      </div>
      <div class="colrev-2">
        <div class="rev-9">
          <div class="rev-10">
            “You made it so simple. My new site is so much faster and easier to
            work with than my old site.”
          </div>
          <div class="rev-11">
            <img
              loading="lazy"
              srcset="{% static 'img/bg customer.png' %}"
              class="irev-4"
            />
            <div class="rev-12">Isabella Chavez</div>
          </div>
        </div>
      </div>
      <div class="colrev-3">
        <div class="rev-13">
          <div class="rev-14">
            “You made it so simple. My new site is so much faster and easier to
            work with than my old site.”
          </div>
          <div class="rev-15">
            <img
              loading="lazy"
              srcset="{% static 'img/bg customer.png' %}"
              class="irev-5"
            />
            <div class="rev-16">Isabella Chavez</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sn">
  <div class="sn-2">How to become a chef ?</div>
  <img
    loading="lazy"
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/51a01225c4b408a1c46624883d43f5bf2c82227f9a12b17a689c87fbf5fe629f"
    class="isn"
  />
  <div class="sn-3">
    <div class="sn-4">
      <div class="colsn">
        <div class="sn-5">
          <div class="sn-6">
            Pass the Cooking Skills Exam for Quality and Safety
          </div>
          <div class="sn-7">
            At HomeEat, we prioritize quality and safety. To ensure that our
            home chefs meet the highest standards, they must pass a rigorous
            cooking skills exam.
          </div>
          <div class="sn-8">
            <div class="sn-9">
              <div class="colsn-2">
                <div class="sn-10">
                  <img
                    loading="lazy"
                    srcset="{% static 'img/contact.png' %}"
                    class="isn-2"
                  />
                  <div class="sn-11">Get approved to cook</div>
                  <div class="sn-12">
                    1. Sign up and create your personal menu of dishes.
                  </div>

                </div>
              </div>
              <div class="colsn-3">
                <div class="sn-14">
                  <img
                    loading="lazy"
                    srcset="{% static 'img/exam.png' %}"
                    class="isn-3"
                  />
                  <div class="sn-15">Pass exam</div>
                  <div class="sn-16">
                    2.Demonstrate Your Cooking Skills in a Online Session
                  </div>
                </div>
              </div>
            </div>

            <a href="/signupchef/"><div class="sn-13">Sign up</div></a>

          </div>
        </div>
      </div>
      <div class="colsn-4">
        <div class="sn-17">
          <div class="sn-18">
            <div class="colsn-5">
              <img
                loading="lazy"
                srcset="{% static 'img/bg footer1.jpeg' %}"
                class="isn-4"
              />
            </div>
            <div class="colsn-6">
              <div class="sn-19">
                <img
                  loading="lazy"
                  srcset="{% static 'img/bg footer2.jpeg' %}"
                  class="isn-5"
                />
                <img
                  loading="lazy"
                  srcset="{% static 'img/bg footer3.jpeg' %}"
                  class="isn-6"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="foot">
  <div class="foot-2">
    <div class="foot-3">About us</div>
    <div class="foot-4">Our chefs</div>
    <div class="foot-5">Our menu</div>
    <div class="foot-6">Become a chef</div>
    <div class="foot-7">FAQ</div>
  </div>
  <div class="foot-8">@All rights Reserved. by CompanyName</div>
</div>



<script src="./js/tabs.js"></script>
<script src="./js/index.js"></script>
<script type="text/javascript">
        let subMenu = document.getElementById("subMenu");
        let closeIcon = document.querySelector(".close_icon");

        let subMenu1 = document.getElementById("subMenu1");

        function toggleMenu() {
            subMenu.classList.toggle("open_menu");
        }

        function toggleMenu1() {
            subMenu1.classList.toggle("open_menu");
        }

        closeIcon.addEventListener("click", function() {
        subMenu.classList.remove("open_menu");
        });

        closeIcon.addEventListener("click", function() {
        subMenu1.classList.remove("open_menu");
        });
</script>
<script>
  document.getElementById("submitButton").addEventListener("click", function(event) {
      event.preventDefault(); // Prevent the default behavior of the anchor tag

      // Submit the form programmatically
      document.getElementById("myForm").submit();
  });
</script>
</body>
</html>