{% load static %}
<!Doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>pay_order</title>
        <link rel="stylesheet" href="{% static 'css/pay_order.css' %}">


    </head>


    <body>

        <header class="header">
            <div class="container">
                <div class="header_wrapper">
                    <div class="header_navbar">
                        <div class="nav">

                            <img src="{% static 'img/navbar_burger.svg' %}" class="user_pic" onclick="toggleMenu()">
                            <div class="sub_menu_wrap" id="subMenu">
                                <div class="sub_menu">
                                    <div class="user_info">
                                        <img class="close_icon" src="{% static 'img/close_icon.svg' %}">
                                        <img src="{% static 'img/homemade.svg' %}">

                                    </div>
                                    <hr>
                                    <a href="#" class="sub_menu_link">
                                        <img src="{% static 'img/profile_icon.svg' %}">
                                        <p>Profile</p>
                                        <span>></span>
                                    </a>
                                    <a href="#" class="sub_menu_link">
                                        <img class="ch_icon" src="{% static 'img/chef_icon.svg' %}">
                                        <p>Our Chefs</p>
                                        <span>></span>
                                    </a>
                                    <a href="#" class="sub_menu_link">
                                        <img src="{% static 'img/menu_icon.svg' %}">
                                        <p>Our Menu</p>
                                        <span>></span>
                                    </a>
                                    <a href="#" class="sub_menu_link">
                                        <img src="{% static 'img/orders_icon.svg' %}">
                                        <p>My Orders</p>
                                        <span>></span>
                                    </a>
                                    <a href="#" class="sub_menu_link">
                                        <img src="{% static 'img/message_icon.svg' %}">
                                        <p>Messages</p>
                                        <span>></span>
                                    </a>
                                    <a href="#" class="sub_menu_link">
                                        <img src="{% static 'img/like_icon.svg' %}">
                                        <p>Following</p>
                                        <span>></span>
                                    </a>
                                    <a href="#" class="sub_menu_link">
                                        <img src="{% static 'img/help_icon.svg' %}">
                                        <p>Help Center</p>
                                        <span>></span>
                                    </a>
                                    <a href="#" class="sub_menu_link">
                                        <img src="{% static 'img/become_chef_icon.svg' %}">
                                        <p>Become a chef</p>
                                        <span>></span>
                                    </a>
                                </div>
                            </div>

                        </div>
                        {% if jurgen %}
                            <form id="myForm" method="post" action="/menu/">
                                {% csrf_token %}
                                <input type="hidden" value="{{jurgen.id}}" name="jur">
                                <input type="submit" style="display: none;">
                            </form>
                            <a href="#" class="logo" id="submitButton">
                                <img src="{% static 'img/homemade.svg' %}">
                            </a>
                        {% else %}
                            <a href="/menu/" class="logo">
                                <img src="{% static 'img/homemade.svg' %}">
                            </a>
                        {% endif %}
                    </div>

                    <div class="search_location">
                        <div class="location_icon_con">
                            <img src="{% static 'img/find.svg' %}">
                        </div>

                        <input class="input_location" type="search" placeholder="Search foods and chefs">

                    </div>


                    <a class="cart_button" href="#">
                        <img src="{% static 'img/cart_button_img.svg' %}">
                        <div>
                            cart(0)
                        </div>
                    </a>



                </div>
            </div>
        </header>



        <div class="all_content">

            <div class="all_order_card">
                <div class="header_all_order_card">
                    <h2>Your order</h2>
                    <p onclick="emptyCart()">Empty cart</p>
                </div>
                <div class="content_all_order_card">
                    <div class="content_order_card">
                        <img src="{{meal.photo_link}}">
                        <div id="title_counter">
                            <h3>{{meal.title}}</h3>
                            <div class="counter">
                                <button id="decrement" onclick="decrement()">
                                    <div id="minus"></div>
                                </button>
                                <span id="count">1</span>
                                <button id="increment" onclick="increment()">+</button>
                            </div>
                        </div>
                        <div id="cost">{{meal.price}}</div>
                    </div>

                    <div class="notes">
                        <p>Особые запросы, аллергии, ограничения по диете?</p>
                        <input id="input_notes" type="text" name="notes" placeholder="Написать">
                    </div>
                </div>
            </div>






            <div class="payment_method">
                <h2 id="title_payment_method">Payment method</h2>
                <div class="choose_card">
                    <p>Choose card</p>
                    <button id="edit_card">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_237_1841)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.7069 11.2931C15.8943 11.4807 15.9996 11.735 15.9996 12.0001C15.9996 12.2653 15.8943 12.5196 15.7069 12.7071L10.0499 18.3641C9.95761 18.4597 9.84726 18.5358 9.72526 18.5882C9.60326 18.6407 9.47204 18.6682 9.33926 18.6694C9.20648 18.6705 9.0748 18.6452 8.9519 18.595C8.829 18.5447 8.71735 18.4704 8.62346 18.3765C8.52957 18.2826 8.45531 18.171 8.40503 18.0481C8.35475 17.9252 8.32945 17.7935 8.3306 17.6607C8.33176 17.528 8.35934 17.3967 8.41175 17.2747C8.46416 17.1527 8.54034 17.0424 8.63585 16.9501L13.5859 12.0001L8.63585 7.05014C8.4537 6.86154 8.3529 6.60894 8.35518 6.34674C8.35746 6.08455 8.46263 5.83373 8.64804 5.64833C8.83344 5.46292 9.08426 5.35775 9.34645 5.35547C9.60865 5.35319 9.86125 5.45399 10.0499 5.63614L15.7069 11.2931Z" fill="#221203" />
                            </g>
                            <defs>
                                <clipPath id="clip0_237_1841">
                                  <rect width="24" height="24" fill="white" transform="matrix(0 -1 1 0 0 24)" />
                                </clipPath>
                            </defs>
                        </svg>
                    </button>
                </div>
                <hr>
                <h2 id="title_total">Total</h2>
                <div class="price_items">
                    <p>Price of items</p>
                    <div class="total_price_items">5600 tg</div>
                </div>
                <div class="delivery_cost_part">
                    <p>Delivery</p>
                    <div class="delivery_cost">0 tg</div>
                </div>
                <div class="pay_part">
                    <button class="button_pay" onclick="showModal()">Pay</button>
                    <div class="pay_total">5600 tg</div>
                </div>
            </div>
        </div>



        <div id="myModal" class="modal">
                <!-- Содержимое модального окна -->
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <img src="{% static 'img/baking.png' %}">
                <hr>
                <h2>Congratilations</h2>
                <p>Смотрите за статусом вашего заказа в</p>
                <form method="post" action="/order/">
                    {% csrf_token %}
                    <input type="hidden" value="{{jurgen.id}}" name="jur">
                    <input type="hidden" value="{{meal.id}}" name="meal_id">
                    <button class="go_order" type="submit"><img src="{% static 'img/notif.svg' %}"></button>
                </form>

            </div>
        </div>
















    <script type="text/javascript">
        let subMenu = document.getElementById("subMenu");
        let closeIcon = document.querySelector(".close_icon");

        function toggleMenu() {
            subMenu.classList.toggle("open_menu");
        }

        closeIcon.addEventListener("click", function() {
        subMenu.classList.remove("open_menu");
        });


    </script>



<script>
    var countElement = document.getElementById("count");
    var count = 1; // Установить начальное значение счетчика на 1
    var initialCost = parseFloat(document.getElementById("cost").innerText); // Получить начальную цену товара

    function increment() {
        count++;
        updateCountAndPrices(); // Обновить количество товаров и цены
    }

    function decrement() {
        if (count > 1) { // Проверить, что значение счетчика больше 1
            count--;
            updateCountAndPrices(); // Обновить количество товаров и цены
        }
    }

    function updateCountAndPrices() {
        var countElement = document.getElementById("count");
        var costElement = document.getElementById("cost");
        var totalItemsPriceElement = document.querySelector(".total_price_items");
        var totalPriceElement = document.querySelector(".pay_total");

        // Обновить значение счетчика на странице
        countElement.innerText = count;

        // Обновить стоимость за один товар
        costElement.innerText = count * initialCost;

        // Обновить общую стоимость товаров
        totalItemsPriceElement.innerText = count * initialCost + " tg";

        // Обновить общую стоимость для оплаты
        totalPriceElement.innerText = count * initialCost + " tg";
    }
</script>




<!-- <script>
    // Функция для перехода на другую страницу
    function goToPage(url) {
        window.location.href = url; // Изменение URL текущей страницы для перехода на другую страницу
    }

    // Получить ссылку на элемент <p>Choose card</p>
    var chooseCardParagraph = document.querySelector('.choose_card p');
    // Добавить обработчик события при клике на элемент <p>Choose card</p>
    chooseCardParagraph.addEventListener('click', function() {
        goToPage('/C:/Users/%D0%9C%D0%B0%D1%82%D0%BA%D0%B0%D1%80%D0%B8%D0%BC/Desktop/diplom_project/user_profile/user_profile.html'); // Замените 'название_вашей_страницы.html' на реальный URL страницы
    });

    // Получить ссылку на элемент <button id="edit_card">
    var editCardButton = document.getElementById('edit_card');
    // Добавить обработчик события при клике на элемент <button id="edit_card">
    editCardButton.addEventListener('click', function() {
        goToPage('/C:/Users/%D0%9C%D0%B0%D1%82%D0%BA%D0%B0%D1%80%D0%B8%D0%BC/Desktop/diplom_project/user_profile/user_profile.html'); // Замените 'название_вашей_страницы.html' на реальный URL страницы
    });


</script> -->
<script>
  document.getElementById("submitButton").addEventListener("click", function(event) {
      event.preventDefault(); // Prevent the default behavior of the anchor tag

      // Submit the form programmatically
      document.getElementById("myForm").submit();
  });
</script>
<script>
// Функция для отображения модального окна
function showModal() {
    var modal = document.getElementById("myModal");
    modal.style.display = "block"; // Показываем модальное окно
}

// Функция для закрытия модального окна
function closeModal() {
    var modal = document.getElementById("myModal");
    modal.style.display = "none"; // Скрываем модальное окно
}


function showModal() {
    var modal = document.getElementById("myModal");
    modal.style.display = "block"; // Показываем модальное окно

    // Добавляем обработчик события для клика за пределами модального окна
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none"; // Закрываем модальное окно
        }
    }
}
</script>


<script type="text/javascript">
    function emptyCart() {
    var content = document.querySelector(".content_all_order_card");
    content.parentNode.removeChild(content); // Удаляем содержимое корзины
}
</script>

    </body>
</html>