{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
</head>
<body>

<div class="div">
  <div class="div-2">Sign up</div>
  <div class="div-3">To get started, you need to sign up here.</div>
  <div class="div-4">Email address</div>
  <div class="div-5"></div>
  <div class="div-6">Phone number</div>
  <div class="div-7">
    <div class="div-8">
      <div class="div-9">+7</div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/197e151588cef175407e2e808d627ddf87bc544d41896fbb561963cc128400dd?apiKey=2a84a62ce8114e98bef0b3ff815ac598&"
        class="img"
      />
    </div>
  </div>
  <div class="hide-10">
    <div class="hide-11">Your password</div>
    <div class="hide-12">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/bf5549b4b6227c796b29704a7939468d3ffa6575d3837dea7fa971a26c0814fe?apiKey=2a84a62ce8114e98bef0b3ff815ac598&"
        class="ihide-2"
      />
      <div class="hide-13">Hide</div>
    </div>
  </div>
  <div class="div-14"></div>
  <div class="div-15">
    <div class="div-16">Confirm your password</div>
    <div class="div-17">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/bf5549b4b6227c796b29704a7939468d3ffa6575d3837dea7fa971a26c0814fe?apiKey=2a84a62ce8114e98bef0b3ff815ac598&"
        class="img-3"
      />
      <div class="div-18">Hide</div>
    </div>
  </div>
  <div class="div-19"></div>
  <div class="div-20">
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/b1a4a327831ceb9c6f619ee8049e08989ac390725de9c65cd3385be024d31139?apiKey=2a84a62ce8114e98bef0b3ff815ac598&"
      class="img-4"
    />
    <div class="div-21">I accept Term of Service and the Privacy Policy</div>
  </div>
  <div class="div-22">Sign up</div>
</div>



</body>
</html>